<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <<script language="JavaScript">
        sampleDate1=new Date()
        document.write ("Today's date is "+ mdy(sampleDate1))
        </script>
    </body>
</html>
